 <!-- #region hero -->
      <section class="hero">
        <div class="container hero-container">
          <div class="text-wrap">
            <h1 class="main-title">Work at the speed of thought</h1>
            <p class="tittle-descr">
              Tools, tutorials, design and innovation experts, all in one place!
              The most intuitive way to imagine your next user experience.
            </p>
            <ul class="hero-list-btn">
              <li class="hero-list-btn-item">
                <button type="button" class="hero-btn-get">Get started</button>
              </li>
              <li class="hero-list-btn-item">
                <button type="button" class="hero-btn-watch">
                  <svg class="hero-icon" width="20" height="18">
                    <use href="./images/symbols.svg#triangle"></use>
                  </svg>
                  Watch the Video
                </button>
              </li>
            </ul>
          </div>
          <img src="/img/index/hero.png" alt="peoples" />
        </div>
      </section>
      <!-- #endregion hero -->