/* #region header */
.header {}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 237px;
  margin-right: auto;
}

.logo-header {
  font-weight: 700;
  font-size: 30px;
  display: flex;
  gap: 16px;
  align-items: center;
  /* line-height: 28px; */
  line-height: 0.93333;
  color: #173a56;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list-item {}

.nav-list-link {
  font-weight: 400;
  font-size: 16px;
  padding: 26px 0;
  display: block;
  /* line-height: 28px; */
  line-height: 1.75;
  color: #22343d;
}

.active {
  font-weight: 600;
}

.header-list-btn {
  display: flex;
  gap: 21px;
}

.header-list-btn-item {}

.header-btn {
  font-weight: 600;
  font-size: 16px;
}

.sign-in {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
}

.sign-up {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;

  color: #fff;
}

/* #endregion header*/